DEEPSEEK_API_KEY=
WECHAT_MCH_ID=
WECHAT_APP_ID=
WECHAT_API_V3_KEY=
WECHAT_PRIVATE_KEY=
WECHAT_CERT_SERIAL_NO=
WECHAT_NOTIFY_URL=
TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=
TENCENT_SMS_REGION=
TENCENT_SMS_SDK_APP_ID=
TENCENT_SMS_SIGN_NAME=
TENCENT_SMS_TEMPLATE_ID=
PHONE_CODE_DAILY_LIMIT=3
EMAIL_SECRET=
VERIFICATION_HASH_SECRET=
SERVICE_PRICE_MULTIPLIER=
